h1 {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}

th,
td {
  text-align: center;
  padding: 12px 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: rgb(232, 232, 244);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgb(241, 245, 251);
}

tr:nth-child(odd) {
  background-color: rgb(241, 243, 248);
}

.container {
  display: flex;
  max-width: 1300px;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}

.table-container {
  overflow-x: auto;
}

.button-add {
  display: block;
  margin-right: auto;
  margin-left: 0;
  position: relative;
  top: -10px;
  left: -540px;
  background-color: #132b5c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.search-container {
  margin-bottom: 20px;
  position: absolute;
  top: 180px;
  right: 700px;
}

.search-container input {
  width: 160%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
